body{
    margin: auto;

}

header {
    position: fixed;
    background-color: white;
    width: 100%;
    top: 0;
    z-index: 9999999;
}



.topnavbar {
    /* border: 1px solid; */
    font-family: sans-serif;
    font-size: 12px;
    height: 20px;
    margin-right: 30px;
    margin-top: 10px;
}

.topnavbar>ul>li>a {
    color: rgb(126, 120, 120);
}

li {
    padding: 0px 0px 0px 8px;
}

a {
    text-decoration: none;
}

.topnavbar ul li {
    display: inline-block;
}

.topright {
    float: right;
    
}

.mainheader {
    /* border: 1px solid; */
    display: flex;
    align-items: center;
    margin-top: 5px;
    width: 100%;
    margin-left: 13px;
}

.lenskartlogo {
    
}
.lenskartlogo img{
    height:65px;
    width:100%;
}

.phonenumber {
    height:54px;
    width:16%;
}
.phonenumber img{
    height:54px;
    width:100%;

}

.searchbox {
    height:50px;
    width:24%;
    border: 1px solid;
    border-radius: 4px;
    margin-left: 20px;
    margin-right:10%;
}



.search {
    width:90%;
    border: none;
    margin-top: 12px;
    font-size: 16px;
    margin-left: 7px;

}

.search:focus {
    outline: none;
}

.menu-link {
    color: rgb(13, 13, 13);
    margin-right:20px;
    font-size: 18px;
}

.menu-link:hover{
    color:black;
}


.menu-link>span {
    color: rgb(13, 13, 13);

    font-size: 18px;
}

/* .menu-li>a {
    color: rgb(13, 13, 13);
    margin-right:14px;
}
.menu-li>img {
    
    margin-right:7px;
}  */
.menu{
    float: right;
    margin-right: 10px;
    margin-left:-4%;
    width: 28%;
}
.menu >span{
    margin-left:10px;
    font-family: sans-serif;
    font-size: 18px;
    color: rgb(6, 6, 6);
    margin-right: 10px;
}

.track{
    font-family: sans-serif;
    font-size: 18px;
    color: rgb(6, 6, 6);
    margin-right: 30px;
    
}

.track:hover{
    color:black;
    
}

@media screen and (max-width:400px){

    header {
        position: fixed;
        background-color: white;
        width: 400px;
        top: 0;
        z-index: 9999999;
    }
}

